*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea
/gradlew
/gradlew.bat
/art/animation1.mp4
/art/convert MP4 2 GIF.bat
/art/output.gif
